h5{
    color:white;
    font-size:40px;

}

p{
    color:white;
    font-size:15px;
}

.botm{
background-color: rgba(0, 0, 0, 0.404);
padding-left:25px;
padding-right:25px;
padding-top:10px;

}
.botm2{
background-color: rgba(0, 0, 0, 0.404);
padding-left:15px;
padding-right:15px;
padding-top:10px;
}