html{
    height:100%;
}


#leftnav{
    background-color :#0c3f6b;
    
}

#leftnav a{
    color:white !important;
    font-family: 'Nanum Myeongjo', serif;
}

#dias-brand{
    text-align: center;
    padding:20px;
    font-size:20px;

}